/*index*/

.titulo_cabecalho {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    background-color: rgb(78, 160, 78);
}

.options_cabecalho {
    display: flex;
    justify-content: end;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin-right: 2%;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: start;
    background-color: lightgray;
}

.image {
    display: flex;
    justify-content: flex-end;
    margin-left: 45%;
    width: 250px;
    height: 250px;
}

.social {
    display: flex;
    margin-top: 7px;
    margin-right: 10%;
    width: 35px;
    height: 35px;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 14px;
    margin-right: 2%;
}

h1 {
    margin-left: 3%;
}

h1.name {
    color: azure;
}

h1.title {
    display: flex;
    justify-content: center;

}

p.options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

p.item {
    margin-left: 2%;
}

/*login*/

.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.formLogin {
    display: flex;
    flex-direction: column;
    gap: 5px
}

/*home*/

.rank_up {
    display: flex;
    flex-direction: row;
    font-size: larger;
    font-weight: bold;
    margin-left: 20%;
    width: 13%;
}

.news{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.news_img {
    margin: 1%;
    font-size: large;
    font-weight: bold;
}

.news_txt {
    margin-left: 1%;
}

/*Sobre Nós*/

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
}